@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Basteleur";
    src: url("../fonts/Basteleur-Moonlight.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cantique";
    src: url("../fonts/Cantique-Normal.woff2") format("woff2");
  }
   